@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow: hidden;
}

nav {
    height: 100px;
    display: flex;
}

img {
    max-width: 100px;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.logo {
    width: 1200px;
}

img {
    width: 120%;
    height: 120%;
    max-height: 50vh;
    padding: 91 x 35px;
}

.search-form {
    display: flex;
    gap: 5px;
}

.search-form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #635656;
}

/* NAV */

.nav__container {
    width: 100%;
    max-width: 1300px;
    padding: 0 24px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 140 x 54px;
    color: rgba(0, 0, 0, 0.815);
    font-weight: bold;
    padding: 10px;
}

.nav__link:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* ROW */

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}

/* MOVIES */

.movie {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 50%;
    padding: 24px;
}

.movie__img {
    max-height: 1500px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.movie__img--wrapper {
    margin-bottom: 7px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}

.movie__title {
    font-size: 19px;
    margin-bottom: 8px;
}

.movie__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}


.movie__container {
    padding: 2px 16px;
    
}

footer {
    background-color: #242424;
}